@font-face {
    font-family: 'FontOfKindness-Bold';
    src: url('../fonts/FontOfKindness-Bold.eot');
    src: url('../fonts/FontOfKindness-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontOfKindness-Bold.svg#FontOfKindness-Bold') format('svg'),
         url('../fonts/FontOfKindness-Bold.ttf') format('truetype'),
         url('../fonts/FontOfKindness-Bold.woff') format('woff'),
         url('../fonts/FontOfKindness-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  